    <!-- simple Footer
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    -->
    {% load static %}
    <footer class="footer-14398 bg-dark text-white mt-4">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <a class="footer-site-logo" href="#">
              <img src="{% static 'img/tgstocktrading_logo.png' %}" alt="tgstocktrading_logo">
            </a>
            <p>
              No. 1 financial portal for trading an long term investing on web
            </p>
            <div class ="text-white me-5">
              <a href="https://www.tradingview.com/u/Tomasgei/"><i class=""><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 33 19"><path fill="#FFFFFF" d="M29.032 7.382a5.47 5.47 0 0 1 .963 2.872A4.502 4.502 0 0 1 28.5 19H6a5.98 5.98 0 0 1-4.222-1.737l9.546-7.556c.35.187.75.293 1.176.293a2.49 2.49 0 0 0 1.066-.238l4.55 3.981a2.5 2.5 0 1 0 4.711-.157l6.205-6.204zm-1.414-1.414l-6.204 6.204A2.494 2.494 0 0 0 20.5 12a2.49 2.49 0 0 0-1.066.238l-4.55-3.981a2.5 2.5 0 1 0-4.801-.118L.608 15.638A6 6 0 0 1 6.061 7a8.001 8.001 0 0 1 15.625-1.227A5.474 5.474 0 0 1 24.5 5c1.157 0 2.231.358 3.118.968z"></path></svg></i></a>
              <a href="https://www.instagram.com/tgstocktrading/"><i class="fa-brands fa-youtube p-1 fa-xl text-white"></i></a>
              <a href="https://t.me/TGstockstradingroom"><i class="fa-brands fa-telegram p-1 fa-xl text-white"></i></a>
              <i class="fa-brands fa-facebook p-1 fa-xl"></i>
              <i class="fa-brands fa-twitter p-1 fa-xl"></i>
              <a href="https://www.instagram.com/tgstocktrading/"><i class="fa-brands fa-instagram p-1 fa-xl text-white"></i></a>
          </div>
          </div>
          <div class="col-md-3 ml-auto">
    
          </div>
          <div class="col-md-2 ml-auto">
            <h3>Markets</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Stocks</a></li>
              <li><a href="#">Currencies</a></li>
              <li><a href="#">Commodity</a></li>
              <li><a href="#">Crypto</a></li>
              <li><a href="#">Indicies</a></li>
            </ul>
          </div>
          <div class="col-md-2 ml-auto">
            <h3>Financial news</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Events</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Awards</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Online retail</a></li>
            </ul>
          </div>
          <div class="col-md-2 ml-auto">
            <h3>About</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 pb-4">
            <div class="line"></div>
          </div>
          <div class="col-md-6 text-md-left">
            <ul class="list-unstyled link-menu nav-left">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Code of Conduct</a></li>
            </ul>
          </div>
          <div class="col-md-6 text-md-right">
            <ul class="list-unstyled social nav-right">
              <li>
                <a href="#"><span class="icon-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-instagram"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-pinterest"></span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <p>
              <small
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptate, fuga. Ex at maxime eum odio quibusdam pariatur expedita
                explicabo harum! Consectetur ducimus delectus nemo, totam
                odit!</small
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
    